# Default
* @dOrgJelli @nerfZael

# JS Client
packages                          @dOrgJelli @nerfZael
packages/asyncify                 @namesty @dOrgJelli
packages/client                   @dOrgJelli @krisbitney @namesty @nerfZael
packages/client-config-builder    @pileks @nerfZael
packages/core                     @dOrgJelli @krisbitney @namesty @nerfZael
packages/core-client              @dOrgJelli @krisbitney @namesty @nerfZael
packages/manifests                @dOrgJelli @namesty @nerfZael @pileks @Niraj-Kamdar
packages/msgpack                  @dOrgJelli @Niraj-Kamdar
packages/plugin                   @nerfZael @dOrgJelli
packages/result                   @nerfZael
packages/tracing                  @dOrgJelli @Niraj-Kamdar
packages/uri-resolver-extensions  @nerfZael
packages/uri-resolvers            @nerfZael
packages/validation               @nerfZael @cbrzn
packages/wasm                     @nerfZael @dOrgJelli
